.open-cart-button {
  all: unset;
  position: fixed;
  right: 0;
  top: 30%;
  background-color: black;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}
