.manage-profile-page {
  padding: 1rem 0 0 2rem;
}

.manage-profile-content-container {
  display: flex;
  flex-grow: 1;
}

.manage-profile-tabs {
  display: flex;
  flex-direction: column;
  width: 10rem;
  min-width: 10rem;
  border-right: 2px solid #EEEEEE;
  min-height: 100%;
}

.manage-profile-tabs span {
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
}

.manage-profile-tabs span:hover {
  background-color: #EEEEEE;
  font-weight: bold;
}

.focus-tab {
  background-color: #EEEEEE;
  font-weight: bold;
}

.manage-profile-section {
  border-top: 2px solid #EEEEEE;
  flex-grow: 1;
  display: flex;
}

.update-profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-width: 30rem;
  padding: 1rem;
}

.update-socials-label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.update-main-img-container {
  flex-grow: 1;
}

.update-main-img-preview {
  object-fit: cover;
  width: 100%;
}
