.manage-product-cards:hover,
.new-card-button:hover {
  background-color: #DDDDDD;
  cursor: pointer;
}

.delete-card.delete-product {
  align-self: start;
  justify-self: end;
}

.manage-product-cards {
  all: unset;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #DDDDDD;
  border-radius: 10px;
  cursor: pointer;
  width: calc(100% - 2rem);
}

.edit-card {
  all: unset;
  cursor: pointer;
  padding: 0.4rem 0.6rem;
  border-radius: 50%;
}

.edit-card.disabled {
  color: #888888;
  cursor: default;
}


.manage-product-img {
  max-width: 5rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
