.manage-profile-content-container {
  position: relative;
  display: grid;
  grid-template-columns: 15vw minmax(auto, 30rem) auto;
  grid-template-areas:
    "switch manageHeader previewHeader"
    "manageTabs manageMain previewMain";
  width: 100%;
}

.manage-nav {
  position: sticky;
  top: 5rem;
  background-color: #F1F1F1;
  width: 100%;
  text-align: center;
  padding: 1rem;
  margin: 0;
  border-bottom: 2px solid #CCCCCC;
}

.switch-header.manage-nav {
  padding: 0;
  grid-area: switch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-manage-button.button-hover {
  background-color: #1C1C1C;
  border: 1px solid black;
  color: #F1F1F1;
  padding: 0.5rem 1rem;
  align-self: center;
  width: fit-content;
}

.switch-manage-button.button-hover:hover {
  background-color: #F1F1F1;
  color: #1C1C1C;
}

.manage-profile-tabs {
  grid-area: manageTabs;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1rem;
  position: sticky;
  top: 9rem;
  height: fit-content;
}

.manage-profile-tabs span {
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
}

.focus-tab,
.manage-profile-tabs span:hover {
  background-color: #DDDDDD;
  font-weight: bold;
}

.manage-header {
  grid-area: manageHeader;
}

.manage-profile-section {
  grid-area: manageMain;
  position: relative;
  gap: 1rem;
  border-left: 2px solid #DDDDDD;
  border-right: 2px solid #DDDDDD;
  padding: 1rem;
  height: fit-content;
  min-height: calc(100vh - 8rem);
}

.update-socials-label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 1rem;
}



.new-card-button {
  all: unset;
  width: calc(100% - 2rem);
  height: 5rem;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border: 2px dashed #999999;
  border-radius: 10px;
  font-size: 20px;
}

.delete-card {
  all: unset;
  color: red;
  cursor: pointer;
  padding: 0.4rem 0.6rem;
  border-radius: 50%;
}

.delete-card:hover,
.edit-card:hover:not(.disabled) {
  background-color: #AAAAAA;
}

.preview-header {
  grid-area: previewHeader;
}

.preview-profile-section {
  grid-area: previewMain;
  flex: 1;
  position: relative;
  min-height: calc(100vh - 8rem);
  overflow: auto;
}

.preview-profile-section::-webkit-scrollbar {
  display: none;
}

.delete-profile-button {
  background-color: red;
  border: 1px solid red;
  color: #F1F1F1;
}

.delete-profile-button:hover {
  background-color: #F1F1F1;
  color: red;
}

@media (max-width: 1250px) {
  .manage-profile-section {
    min-width: 40vw;
  }
}

@media (max-width: 700px) {
  .manage-profile-content-container {
    grid-template-areas:
    "switch mainHeader"
    "manageTabs mainContent";
    grid-template-columns: 25vw 75vw;
  }
  .manage-profile-tabs {
    padding: 0;
  }

  .manage-header,
  .preview-header {
    grid-area: mainHeader;
  }

  .manage-profile-section {
    grid-area: mainContent;
  }
  .preview-profile-section {
    grid-area: mainContent;
    height: fit-content;
  }

}
