.edit-tour-name-div {
  display: grid;
  align-items: center;
  grid-template-areas:
    "label input button";
  gap: 0.5rem;
}

.edit-tour-name-input {
  justify-self: start;
  grid-area: input;
  width: 80%;
}

.confirm-tour-name-change.button-hover {
  align-self: start;
  grid-area: button;
  height: 2rem;
  padding: 0.4rem 0.5rem;
  background-color: black;
  color: #F1F1F1;
  border: 1px solid black;
  box-shadow: none;
}

.confirm-tour-name-change:hover {
  background-color: #F1F1F1;
  color: black;
}

.edit-tours-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.delete-card.delete-tour {
  position: absolute;
  top: 5px;
  right: 5px;
  align-self: start;
  justify-self: end;
}

.tour-card {
  display: grid;
  grid-template-areas:
    "details soldout"
    "details link";
  position: relative;
  background-color: #DDDDDD;
  padding: 1rem;
  border-radius: 10px;
}

.soldout-button.button-hover {
  left: 50%;
  grid-area: soldout;
  background-color: black;
  color: white;
  width: 10rem;
  margin-bottom: 0.5rem;
  border-radius: 1px solid black;
  padding: 0.5rem;
  font-size: 12px;
  border-radius: 10px;
}

.soldout-button:hover {
  color: black;
  background-color: white;
}

.tour-input {
  margin-bottom: 0.5rem;
}

.tour-button-save.button-hover,
.tour-button-cancel.button-hover {
  all: unset;
  padding: 0.4rem;
  width: 3rem;
  border: 1px solid #999999;
  background-color: #DDDDDD;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.tour-button-save.button-hover {
  background-color: #4444FF;
  border: 1px solid #4444FF;
  color: #F1F1F1;
}

.tour-button-save:hover {
  background-color: #F1F1F1;
  color: #4444FF;
}

.tour-button-cancel:hover {
  background-color: #999999;
  color: #F1F1F1;
}

.clear-all-tours-button.button-hover {
  height: 2.5rem;
  padding-top: 0.6rem;
  width: 100%;
  background-color: red;
  color: white;
  border: 1px solid red;
}

.clear-all-tours-button:hover {
  color: red;
  background-color: white;
}

@media (max-width: 700px) {
  .edit-tour-name-div {
    grid-template-areas:
      "label button"
      "input button";
  }
}
