.manage-profile-page {
  padding: 1rem 0 0 2rem;
}

.manage-profile-content-container {
  display: flex;
  flex-grow: 1;
}

.manage-profile-tabs {
  display: flex;
  flex-direction: column;
  width: 10rem;
  min-width: 10rem;
  border-right: 2px solid #EEEEEE;
  min-height: 100%;
}

.manage-profile-tabs span {
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
}

.manage-profile-tabs span:hover {
  background-color: #EEEEEE;
  font-weight: bold;
}

.focus-tab {
  background-color: #EEEEEE;
  font-weight: bold;
}

.manage-profile-section {
  border-top: 2px solid #EEEEEE;
  flex-grow: 1;
  display: flex;
}

.update-profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-width: 30rem;
  padding: 1rem;
}

.update-socials-label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.new-product-button {
 width: 28rem;
 height: 7.2rem;
 padding: 1rem;
 display: flex;
 align-items: center;
 justify-content: center;
 border: 2px dashed #999999;
 border-radius: 10px;
 font-size: 20px;
 font-weight: bold;
}

.new-product-button:hover {
  background-color: #DDDDDD;
  cursor: pointer;
}

.manage-products-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  width: 30rem;
}

.manage-product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #EEEEEE;
  border-radius: 10px;
  cursor: pointer;
}

.manage-product-card:hover {
  background-color: #DDDDDD;
}

.open-edit-product {
  all: unset;
  cursor: pointer;
  padding: 0.4rem 0.6rem;
  border-radius: 50%;
}

.open-delete-product {
  all: unset;
  color: red;
  cursor: pointer;
  padding: 0.4rem 0.6rem;
  border-radius: 50%;
}

.open-delete-product:hover,
.open-edit-product:hover {
  background-color: #999999;
}

.update-main-img-container {
  flex-grow: 1;
}

.update-main-img-preview {
  object-fit: cover;
  width: 100%;
}
