
.main-img-preview {
  position: fixed;
  width: 100vw;
  top: 3rem;
  height: calc(100vh - 3rem);
  object-fit: cover;
  z-index: -1;
}

.create-profile-form {
  gap: 1rem;
  min-width: 35rem;
  background-color: rgb(255, 255, 255, 0.9);
  padding: 1rem;
  min-height: calc(100vh - 3rem);
}

.new-profile-input {
  width: 25rem;
}

.socials-form-button {
  all: unset;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.socials-form-button:hover {
  background-color: black;
  color: white;
}

.fa-tiktok,
.fa-apple,
.fa-square-up-right {
  color: black;
}

.fa-youtube {
  color: #ff0000;
}

.fa-instagram {
  background-image: linear-gradient(45deg, #feda75 20%, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  background-clip: text;
  color: transparent;
}

.fa-spotify {
  color: #1ed760;
}

.fa-facebook {
  color: #0866ff;
}

.fa-discord {
  color: #5562ea;
}

.fa-twitter {
  color: #1d9bf0;
}

.submit-profile-button {
  all: unset;
  width: 10rem;
  border: 1px solid #4444FF;
  background-color: #4444FF;
  color: white;
  text-align: center;
}

.submit-profile-button.button-hover {
  padding: 1rem 3rem;

}

.submit-profile-button:hover {
  color: #4444FF;
  background-color: white;
}
