.cancel-delete-button {
  width: 9rem;
  padding: 1rem;
  background-color: black;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}

.cancel-delete-button:hover {
  background-color: white;
  color: black;
}

.confirm-delete-product {
  width: 9rem;
  padding: 1rem;
  background-color: red;
  border: 1px solid red;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}

.confirm-delete-product:hover {
  background-color: white;
  color: red;
}
