.cancel-delete-button {
  width: 9rem;
  background-color: #EEEEEE;
  border: 1px solid #EEEEEE;
  color: black;
}

.cancel-delete-button:hover {
  background-color: #999999;
  color: white;
}

.confirm-delete-product {
  background-color: red;
  border: 1px solid red;
  color: white;
  width: 10rem;
}

.confirm-delete-product:hover {
  background-color: white;
  color: red;
}
