.cancel-delete-button {
  width: 9rem;
  background-color: #EEEEEE;
  border: 1px solid #EEEEEE;
  color: #1C1C1C;
}

.cancel-delete-button:hover {
  background-color: #999999;
  color: #F1F1F1;
}

.confirm-delete-product {
  background-color: red;
  border: 1px solid red;
  color: #F1F1F1;
  width: 10rem;
}

.confirm-delete-product:hover {
  background-color: #F1F1F1;
  color: red;
}
