.delete-account-container {
  max-width: 20rem;
}

.red-text {
  font-weight: bold;
  color: red;
}

.delete-confirmation {
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 0 10px #CCCCCC;
}

.delete-acc-button-div {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.delete-acc-cancel {
  margin-right: 1rem;
  border: 1px solid #999999;
  background-color: #EEEEEE;
}

.delete-acc-cancel:hover {
  background-color: #999999;
  color: white;
}

.confirm-delete-acc-button {
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #ff8888;
  border: 1px solid #fa8888;
  color: white;
  border: none;
}

.confirm-delete-acc-button:enabled {
  background-color: red;
  border: 1px solid red;
}

.confirm-delete-acc-button:enabled:hover {
  background-color: white;
  color: red;
}
