.socials-form {
  gap: 1rem;
  width: 25rem;
}

.socials-label {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.close-socials-button {
  all: unset;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #4444FF;
  border: 1px solid #4444FF;
  color: #F1F1F1;
  margin-top: 1rem;
  text-align: center;
  width: 10rem;
}

.close-socials-button:hover {
  background-color: #F1F1F1;
  color: #4444FF;
}

.socials-input {
  max-width: 15rem;
  width: 50%;
}
