#follows-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.follows-sidebar {
  position: fixed;
  align-self: flex-start;
  top: 0;
  left: 0;
  width: 75vw;
  max-width: 15rem;
  height: 100vh;
  transition: left 0.3s ease-in-out;
  background-color: #EAEAEA;
  z-index: 3;
}

.follows-sidebar.hide-follows {
  padding-left: 1rem;
  left: -16rem;
}

.remove-follows-button.button-hover {
  position: absolute;
  width: 100%;
  border-radius: 0;
  color: red;
  bottom: 0;
  padding: 1rem 2rem;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
}

.remove-follows-button:hover {
  background-color: red;
  color: #F1F1F1;
}

.sidebar-page-button.button-hover {
  padding: 0.5rem;
  width: 13rem;
  margin-left: 1rem;
  display: flex;
  text-decoration: none;
  font-weight: normal;
  color: black;
  align-items: center;
}

.sidebar-page-button:hover {
  background-color: #CCCCCC;
}

.sidebar-button-img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}
