#follows-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.follows-sidebar {
  position: fixed;
  align-self: flex-start;
  top: 0;
  left: 0;
  width: 75vw;
  max-width: 15rem;
  height: 100vh;
  transition: left 0.3s ease-in-out;
  background-color: #EAEAEA;
  z-index: 1;
}

.follows-sidebar.hide-follows {
  padding-left: 1rem;
  left: -16rem;
}

.fa-x.modal {
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;
  width: fit-content;
}

.follows-items-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 1.5rem;
  overflow-y: auto;
  height: 55vh;
}

.follows-item-card {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 30rem;
}

.follows-item-img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border: 1px solid #CCCCCC;
}

.item-quantity-btn {
  padding: 0.2rem 0.5rem;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
}

.item-quantity {
  border: 1px solid black;
  padding: 0.2rem 0.8rem;
}

.follows-bottom {
  position: absolute;
  width: 100%;
  background-color: #F1F1F1;
  bottom: 0;
  padding: 1rem 2rem;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
}

.clear-follows-button {
  color: red;
  border: 1px solid red;
  right: 0;
  width: 9rem;
}

.clear-follows-button:hover {
  background-color: red;
  color: #F1F1F1;
}

.subtotal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 1rem;
  border-top: 1px solid #DDDDDD;
  padding-top: 1rem;
}

.follows-checkout-button {
  display: block;
  text-align: center;
  padding: 1.2rem 0;
  width: 100%;
  margin-top: 2rem;
  text-decoration: none;
  color: #F1F1F1;
  font-weight: bold;
  background-color: #1C1C1C;
  border: 1px solid #F1F1F1;
}

.follows-checkout-button:hover {
  color: #1C1C1C;
  background-color: #F1F1F1;
  border: 1px solid black;
}

.sidebar-page-button.button-hover {
  padding: 0.5rem;
  width: 13rem;
  margin-left: 1rem;
}

.sidebar-page-button:hover {
  background-color: #CCCCCC;
}

.sidebar-button-img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}
