.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #EEEEEE;
  border-radius: 20rem;
  padding: 0.5rem 1rem;
  width: 100%;
  color: #EEEEEE;
}

.search-button-mobile {
  all: unset;
  display: none;
}

.search-bar:hover {
  box-shadow: 0 0 5px #F1F1F1;
  cursor: text;
}

#search-input {
  max-width: 30rem;
  border: none;
  background-color: rgb(0,0,0,0);
  flex-grow: 1;
  min-width: 3rem;
}

#search-input::placeholder {
  color: #FEFEFE;
  font-size: 0.8rem;
}

#search-input:focus {
  box-shadow: none;
}

.clear-search {
  all: unset;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  border-right: 1px solid #CCCCCC;
}

.search-button {
  all: unset;
  /* color: #F1F1F1; */
}

.search-results-div {
  position: absolute;
  display: flex;
  align-items: center;
  top: 3rem;
  border-radius: 10px;
  padding: 10px;
  color: black;
  max-height: 25rem;
  width: 100%;
  background-color: #F1F1F1;
  min-height: 5rem;
}

@media (max-width: 900px) {
  .search-bar,
  .search-button-mobile.mobile-search {
      display: none;
  }
  .search-button-mobile,
  .search-bar.mobile-search,
  .clear-search.hide {
      display: flex;
  }
  .search-bar.mobile-search {
      position: fixed;
      background-color: #F1F1F1;
      width: 50vw;
      left: 50%;
      transform: translate(-50%);
      top: 0.4rem;
      justify-content: space-between;
      z-index: 1;
  }
}
