.add-tour-button.button-hover {
  margin-top: 1rem;
  background-color: #4444FF;
  border: 1px solid #4444FF;
  color: #F1F1F1;
}

.add-tour-button:hover {
  background-color: white;
  color: #4444FF;
}
