.tour-button.button-hover {
  margin-top: 1rem;
  background-color: #4444FF;
  border: 1px solid #4444FF;
  color: #F1F1F1;
}

.tour-button:hover {
  background-color: #F1F1F1;
  color: #4444FF;
}
@media (max-width: 900px) {
  .tour-modal {
    width: 70vw;
  }
}
