.signup-form {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-areas:
  "firstName profileImage"
  "lastName gender"
  "email address"
  "password address"
  "confirmPassword address"
  "submit submit";
}

.signup-input,
.signup-form > select {
  width: 8rem;
}

label.no-error {
  margin-bottom: 1rem;
}

label.error {
  margin-bottom: 0;
}

.signup-address-button {
  font-size: 0.9rem;
  background-color: #EEEEEE;
  border: 2px dashed #CCCCCC;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.signup-address-button:hover {
  background-color: #CCCCCC;
}

.signup-button {
  all: unset;
  background-color: #4444FF;
  border: 1px solid #4444FF;
  color: white;
  width: 80%;
}

.signup-button:disabled {
  margin-top: 1rem;
  background-color: #7777FF;
  border: 1px solid #7777FF;
  cursor: auto;
}

.signup-button:enabled:hover {
  background-color: white;
  color: #4444FF;
}
