.open-cart-button {
  all: unset;
  gap: 0.5rem;
  position: fixed;
  right: 0;
  top: 30%;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  border: 1px solid white;
  border-right: none;
}

.open-cart-button.flex-col-center {
  border-radius: 10px 0 0 10px;
}

.open-cart-button:hover {
  background-color: white;
  border: 1px solid #999999;
  border-right: none;
  color: black;
}

#cart-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.cart-sidebar {
  position: fixed;
  align-self: flex-start;
  top: 0;
  /* padding: 1.5rem; */
  right: 0;
  width: 28rem;
  height: 100vh;
  transition: right 0.3s ease-in-out;
  background-color: white;
  z-index: 1;
}

.cart-sidebar.hide-cart {
  padding-left: 1rem;
  right: -29rem;
}

.fa-x.modal {
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;
  width: fit-content;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 1.5rem;
  overflow-y: auto;
  height: 50vh;
}

.cart-item-card {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.cart-item-img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border: 1px solid #CCCCCC;
}

.item-quantity-btn {
  padding: 0.2rem 0.5rem;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
}

.item-quantity {
  border: 1px solid black;
  padding: 0.2rem 0.8rem;
}

.cart-bottom {
  position: fixed;
  background-color: white;
  bottom: 0;
  padding: 1rem 2rem;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
}

.clear-cart-button {
  color: red;
  border: 1px solid red;
  right: 0;
  width: 9rem;
}

.clear-cart-button:hover {
  background-color: red;
  color: white;
}

.subtotal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 1rem;
  border-top: 1px solid #DDDDDD;
  padding-top: 1rem;
}

.cart-checkout-button {
  display: block;
  text-align: center;
  padding: 1.2rem 0;
  width: 25rem;
  margin-top: 2rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: black;
  border: 1px solid white;
}

.cart-checkout-button:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}
