.mobile-page-repp-profile {
  height: 8rem;
  width: 8rem;
  object-fit: cover;
  border-radius: 50%;
}

#mobile-profile-headshot {
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
}

.mobile-page-links {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  gap: 1rem;
  width: 100%;
  z-index: 1;
}

.mobile-headers-div {
  gap: 1rem;
  width: 100%;
}

.profile-section-link {
  border: 1px solid #F1F1F1;
  padding: 0.8rem;
  border-radius: 30px;
  width: 70%;
  color: #F1F1F1;
  justify-content: center;
  background-color: rgb(0,0,0, 0.7);
  display: flex;
  gap: 0.8rem;
  font-weight: bold;
}

.profile-section-link:hover {
  background-color: rgb(255,255,255,0.7);
  color: #1C1C1C;
}

#profile-page-home-img {
  position: absolute;
  z-index: -0.1;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.repp-home-text {
  position: absolute;
  left: 10rem;
  bottom: 10rem;
}

.repp-home-text * {
  color: #F1F1F1;
}

.follow-button.button-hover {
  color: black;
  background-color: rgb(242,242,242, 0.8);
  border: 2px solid rgb(242,242,242, 0.8);
  padding: 0.3rem 0.6rem;
  border-radius: 20px;
  width: fit-content;
}

.follow-button:hover {
  background-color: black;
  color: rgb(242,242,242, 0.8);
}

.profile-links-div {
  position: absolute;
  right: 8rem;
  bottom: 8rem;
  width: 20rem;
}

.profile-links-div > .profile-section-link {
  width: 100%;
  margin-bottom: 1rem;
}
