.mobile-page-repp-profile {
  height: 8rem;
  width: 8rem;
  object-fit: cover;
  border-radius: 50%;

}

.mobile-page-links {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  gap: 1rem;
  width: 100%;
}

.mobile-headers-div {
  gap: 1rem;
  width: 100%;
}

.mobile-header {
  border: 1px solid #F1F1F1;
  padding: 0.8rem;
  border-radius: 30px;
  width: 70%;
  color: #F1F1F1;
  justify-content: center;
  background-color: rgb(0,0,0, 0.7);
  display: flex;
  gap: 0.8rem;
}

.mobile-header:hover {
  background-color: rgb(255,255,255,0.7);
  color: #1C1C1C;
}

.mobile-socials-div {
  position: fixed;
  width: 100%;
  padding: 1rem;
  bottom: 0;
  background-color: #1C1C1C;
  display: flex;
  gap: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 200% 200% 0 0;
}

.repp-page-home-img {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.repp-home-text {
  position: absolute;
  left: 10rem;
  bottom: 10rem;
}

.repp-home-text * {
  color: #F1F1F1;
}

.follow-button.button-hover {
  color: black;
  background-color: rgb(242,242,242, 0.8);
  border: 2px solid rgb(242,242,242, 0.8);
  padding: 0.3rem 0.6rem;
  border-radius: 20px;
  width: fit-content;
}

.follow-button:hover {
  background-color: black;
  color: rgb(242,242,242, 0.8);
}
