#product-list {
    list-style: none;
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
}

#product-list.mobile {
    grid-template-columns: 1fr;
}

.product-container {
    width: 100%;
}

.product-card-button {
    all: unset;
    cursor: pointer;
}

.product-preview {
    width: 100%;
}

@media (max-width: 900px) {
    #product-list {
        grid-template-columns: 1fr;
    }
}
