.repp-page {
    height: fit-content;
    width: 100%;
}

.repp-page-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: center;
    border-bottom: 2px solid black;
    padding-bottom: 2rem;
}

/* .mobile-grid {
    grid-template-columns: 1fr;
}

.desktop-grid {
    grid-template-columns: repeat(3, 1fr);
} */

.repp-main-video {
    width: 100%;
    height: 100vh;
}

#about,
#merch,
#videos {
    margin: 0rem 5vw;
    padding-top: 0.1rem;
}

#merch,
#watch {
    height: fit-content;
}

#about {
    line-height: 1.5rem;
    max-width: 50rem;
    text-align: center;
    margin: 3rem auto;
}

@media (max-width: 700px) {
    .repp-main-video {
        aspect-ratio: 16 / 9;
        height: auto;
    }
}
