.tour-details {
  display: grid;
  grid-template-areas:
    "date location button"
    "venue location button";
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 60rem;
}

.mobile.tour-details {
  grid-template-areas:
      "date button"
      "venue button"
      "location button";
}

.tour-location-div {
  grid-area: location;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.mobile.tour-location-div {
  position: relative;
}

.tour-tickets-button {
  justify-self: end;
  grid-area: button;
  width: 8rem;
  height: 3rem;
  background-color: black;
  color: #F1F1F1;
  font-size: 14px;
  font-weight: bolder;
  text-decoration: none;
  line-height: 16px;
  border: 1px solid black;
}

.sold-out.button-hover {
  width: 8rem;
  height: 3rem;
  background-color: #444444;
  color: #F1F1F1;
  font-size: 14px;
  font-weight: bolder;
  text-decoration: none;
  line-height: 16px;
  border: 1px solid black;
  cursor: default;
}

.tour-tickets-button:hover {
  background-color: #F1F1F1;
  color: black;
}

.profile-page-tours {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

@media (max-width: 900px) {
  .tour-details {
    grid-template-areas:
      "date button"
      "venue button"
      "location button";
  }
  .tour-location-div {
    position: relative;
  }
}
