.mobile-header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  background-color: #CCCCFF;
  border-bottom: 2px solid #CCCCFF;
  width: 100%;
  top: 5.4rem;
  left: 50%;
  height: 3.6rem;
  transform: translate(-50%);
  font-size: 20px;
}

.mobile-header-name {
  padding: 1rem 0;
  width: 10rem;
  border: 2px solid #AAAAFF;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  color: #888888;
}

.mobile-header-name:hover {
  background-color: #CCCCCC;
}

.mobile-header-name.focus {
  background-color: #CCCCCC;
  border: 2px solid #9999FF;
  border-bottom: none;
  color: black;
}
