.product-modal {
  display: flex;
  width: 70vw;
  max-width: 55rem;
  height: 30rem;
  align-items: top;
  padding-top: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.fa-x.modal {
  position: absolute;
  top: 18px;
  right: 20px;
}

.fa-x.modal:hover {
  cursor: pointer;
}

.product-carousel-container {
  min-width: 3rem;
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.product-img-carousel {
  height: 3rem;
  width: 3rem;
  /* border: 1px solid #777777; */
  filter: opacity(50%);
  cursor: pointer;
}

.product-img-carousel.focus {
  filter: none;
}

.product-img-container {
  width: 25rem;
  display: flex;
  align-items: center;
}

.product-modal-img {
  min-width: 80%;
  aspect-ratio: 1 / 1;
}

.product-modal-details {
  justify-self: center;
  margin-left: 2rem;
  flex-grow: 1;
}

.product-modal-name {
  min-width: 15rem;
  min-height: 2rem;
  width: fit-content;
  margin-bottom: 0;
}

.product-modal-price {
  min-width: 5rem;
  min-height: 1.2rem;
  color: #999999;
  font-size: 1.2rem;
  width: fit-content;
}

.product-size-button {
  min-width: 2rem;
  height: 2rem;
  border: 1px solid black;
  text-align: center;
  line-height: 2rem;
  font-size: 0.7rem;
  margin-right: 0.5rem;
  user-select: none;
}

.product-size-button:not(.disabled, .focus):hover {
  cursor: pointer;
  background-color: #EEEEEE;
}

.product-modal-quantity-label {
  margin: 2rem 0 0.5rem 0;
}

.product-modal-quantity-select {
  /* all: unset; */
  min-width: 6rem;
  min-height: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1rem;
  padding-top: 0.3rem;
  cursor: pointer;
}

.product-size-button.focus {
  background-color: black;
  color: white;
}

.product-size-button.disabled {
  color: #CCCCCC;
  border: 1px solid #CCCCCC;
}

.out-of-stock {
  margin-top: 2rem;
  color: #CCCCCC;
}

.add-to-cart-button {
  all: unset;
  background-color: black;
  border: 1px solid black;
  color: white;
  width: 6rem;
}

.add-to-cart-button:enabled:hover {
  color: black;
  background-color: white;
}

.add-to-cart-button:disabled {
  background-color: #999999;
  border: 1px solid #999999;
  cursor: auto;
}

@media (max-width: 900px) {
  .product-img-container {
    flex-direction: column;
    justify-content: center;
  }
  .product-carousel-container {
    order: 1;
    flex-direction: row;
  }
}

@media (max-width: 700px) {
  .product-modal {
    flex-direction: column;
  }
  .product-img-container {
    width: 100%;
  }
}
