.modal-header {
  margin-top: 0;
}

.login-input {
  margin-top: 0.5rem;
}

.submit-login-button {
  all: unset;
  background-color: #4444FF;
  border: 1px solid #4444FF;
  color: white;
  margin-top: 1rem;
}

.submit-login-button:disabled {
  background-color: #7777FF;
  cursor: auto;
}

.submit-login-button:enabled:hover,
.demo-user-button:hover {
  color: #4444FF;
  background-color: white;
}

.demo-user-button {
  all: unset;
  background-color: #4444FF;
  border: 1px solid #4444FF;
  color: white;
  margin-top: 1rem;
}

.submit-login-button.button-hover,
.demo-user-button.button-hover {
  padding: 0.7rem;
}

.signup-redirect-button {
  all: unset;
  cursor: pointer;
  font-size: 0.8rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.signup-redirect-button:hover {
  background-color: #CCCCCC;
  color: #4444FF;
}
